{# 
Preview Card Component
Usage: 
{% from "components/preview_card.html" import preview_card %}
{{ preview_card("Title", "Authors", "Abstract", ["tag1", "tag2"], "Computer Science", "2 hours ago", "v1") }}
#}

{% macro preview_card(title, authors, abstract, tags=[], subject="", time_ago="", version="", preview_id="") %}
<div class="preview">
  {% if preview_id %}
  <a href="/preview/{{ preview_id }}" class="preview-link">
    <div class="preview-title">{{ title }}</div>
  </a>
  {% else %}
  <div class="preview-title">{{ title }}</div>
  {% endif %}
  <div class="preview-authors">{{ authors }}</div>
  <div class="preview-abstract">{{ abstract }}</div>
  <div class="preview-footer">
    <div class="preview-tags">
      {% for tag in tags or [] %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="preview-meta">{% if subject %}<span style="color: #ef4444;">{{ subject }}</span> | {% endif %}Submitted {{ time_ago }} | <span style="color: #ef4444;">{{ version }}</span></div>
  </div>
</div>
{% endmacro %}
